@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: green;
    font-family: "Press Start 2P", system-ui;
    color: #17452a;
}

.header, .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    border: 3px dashed #17452a;
}

.header {
    height: 72px;
    font-size: 32px;
}

.footer {
    height: 40px;
    font-size: 10px;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: lightgreen;
}

.buttons {
    margin-top: 36px;
    display: flex;
    gap: 60px;
}

.btn {
    width: 125px;
    height: 125px;
    border: 3px dashed #17452a;  
    border-radius: 10px;
    font-size: 14px;
    font-family: "Press Start 2P", system-ui;
    background-color: #65ff65;
    color: #17452a;
    cursor: pointer;
    transition-duration: 0.2s;  /* speed of hover effect */
}
  
.btn:hover {
    border: 3px dashed #65ff65; 
    background-color: #17452a;
    color: #65ff65;
}

.results {
    margin: 36px 0;
    font-size: 14px;
    line-height: 2;
}

.final-result {
    margin-top: 36px;
    margin-bottom: 0;
    border: 3px dashed #65ff65;
    padding: 20px 0;
    background-color: #17452a;
    color: #65ff65;
}

hr {
    border: 1px dashed lightgreen;
}







