@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: green;
    font-family: "Press Start 2P", system-ui;
    color: #17452a;
}

.header, .footer {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    border: 3px dashed #17452a;
}

.header {
    font-size: 36px;
}

.footer {
    height: 48px;
    font-size: 12px;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #ace538;
}

.buttons {
    display: flex;
    gap: 60px;
}

.results {
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.5;
}

button {
    width: 125px;
    height: 125px;
    border: 3px dashed #17452a;  
    border-radius: 10px;
    font-size: 14px;
    font-family: "Press Start 2P", system-ui;
    color: #17452a;
    background-color: #65ff65;
    cursor: pointer;
}

hr {
    border: 2px dashed #65ff65;
}



